html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.panel_glowny {
    display: flex;
    background: #E9E9E9;
    font-family: 'Century Gothic';
    font-style: normal;
    line-height: normal;
    justify-content: start;
    margin: 0;
    overflow-y:scroll;
}

#selectedDate{
    height: 4rem;
    width: 15rem;
}

#hamburgerL {
    display: none; /* Ukryj przycisk domyślnie */
  }

#hamburgerP {
    display: none; /* Ukryj przycisk domyślnie */
  }

#closeSidebar{
    display: none;
}

/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 1550px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna, #buy_fruit{
        width: 30vw;
    }

    .prawa_strona, .lewa_strona{
        width: 42%;

    }

    .kontent{
        display: flex;
        align-items: center;
    }


  }

/* Ustawienia na średni ekran ekrany */
@media (max-width: 1550px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna, #buy_fruit{
        width: 50vw;
    }


    .prawa_strona, .lewa_strona{
        width: 42%;
    }

    .kontent{
        display: flex;
        align-items: center;
    }


    
  }

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 900px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna, #buy_fruit{
        width: 90vw;
        height: auto;
    }

    #buy_fruit{
        height:10vh;
    }

    .prawa_strona, .lewa_strona{
        width: 42%;
    }

    .kontent{
        display: flex;
        align-items: center;
        padding: 0rem;
    }

    .naglowek_hamburger{
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: space-between;
        align-items:center;
    }

    #hamburgerL {
        display: block; /* Ukryj przycisk domyślnie */
      }
    
    #hamburgerP {
        display: block; /* Ukryj przycisk domyślnie */
        opacity: 0; 
      }

    .hamburger_svg{
        width:4vw;
        padding-top: 0.7rem;
        cursor: pointer;
    }

    #mySidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem; /* Możesz dostosować szerokość paska bocznego do swoich potrzeb */
        height: 100%;
        z-index: 999; /* Ustaw z-index na wartość większą niż reszta strony */
        display: none;
      }

      #mySidebar.active {
        display: block;
      }
      
      #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 998; /* Ustaw z-index na wartość niższą niż pasek boczny, ale wyższą niż reszta strony */
        display: none;
      }
      
      #overlay.active {
        display: block;
      }

    
    #closeSidebar {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        background: transparent; /* Ustawienie przezroczystego tła */
        border: none; /* Usunięcie obramowania */
        padding: 0; /* Usunięcie wewnętrznego odstępu */
        color: #9A9A9A;
      }

}



/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 600px) {

    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna, #buy_fruit{
        width: 85vw;
        height: auto;
    }

    .prawa_strona, .lewa_strona{
        width: 42vw;
    }

    .kontent{
        display: flex;
        align-items: center;
        width: 20vw;
    }

    .kalendarz, #naglowek_panel, #naglowek{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #naglowek_panel, #naglowek {
        font-size: 2rem;
        color: #351431;
    }

    #selectedDate{
        width: 13rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    #buy_fruit{
        height: 15vw;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #summary{
        font-size: 1.5rem;
    }


    .prostokat_bialy{
        margin-top: 0.7rem;
    }

    .prostokat_pola_rekordu{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .wartość_nazwa_owocu{
        font-size: 1.3rem;
        padding-bottom:0.5rem;
    }

    #imie_nazwisko, .cala_waga{
        font-size: 1.3rem;
        padding-bottom: 0.2rem;
    }

    #waga{
        padding-right: 0.1rem;
    }

    .cala_cena, .cale_skrzynki, #nazwa_owoca, #nazwa_owoca_klient{
        font-size: 1rem;
        padding: 0rem;
        padding-bottom: 0.2rem;
    }

    .cala_cena{
        padding-left: 0.4rem;
    }

    #wartość_ceny, #wartość_ceny_srednia{
        padding-left: 0.4em;
        padding-right: 0.1rem;
    }

    #ilosc_skrzynek, #wartość_ceny, #wartość_ceny_srednia{
        padding-right: 0.3rem;
    }

    .prawa_strona, .lewa_strona, .prostokat_zielony{
        padding:1rem;
        box-shadow:none;
    }

    #nazwa_owoca,  #nazwa_owoca_klient{
        padding-top: 0.1rem;
        padding-right: 0.5rem;
    }

    .cala_wartosc{
        font-size: 1.5rem;
    }

    #wartość_kwoty{
        padding-right: 0.2rem
    }

    .kontener_waga{
        font-size: 1.5rem;
    }

    .kontener_cena_waga_skrzynki{
        padding: 0.3rem;
    }


    .modal-content{
        width: 60vw;
        height: auto;
    }


    input{
        height: 4vh;
        width: 30vw;
    }
    
    select{
        height: 5.5vh;
        width: 30vw;
    }

    #username, #fruit, #weight, #box, #Number_of_boxes{
        font-size: 1.2rem;
    }


    .hamburger_svg{
        width:5vw;
        padding-top: 0.7rem;
        cursor: pointer;
    }


    .pasek_boczny a {
        font-size: 1rem;
    }
    
    .prostokat{
        padding: 1rem;
    }

}
