html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.panel_glowny {
    display: flex;
    background: #E9E9E9;
    font-family: 'Century Gothic';
    font-style: normal;
    line-height: normal;
    justify-content: start;
    margin: 0;
    overflow-y:scroll;
}

/* Ustawienia na mniejsze ekrany */
@media (min-width: 760px) {
    .kontener{
        width: 70%;
    }
  }