.kalendarze {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.napis_kalendarz{
    display: flex;
    align-items: center;
}


.daty {
    color: #9A9A9A;
    font-size: 1.875rem;
    font-weight: 700;
    padding-right: 1rem;

}

.wartosc_cala {
    display: flex;
    flex-direction: row;
    color: #351431;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 700;
    padding-right: 1rem;
}

#złotówki {
    padding-left: 0.4rem;
}

#rodzaj_owoca {
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 1rem;
}

.pierwsza_kolumna {
    width: 40rem;
    align-items: center;
}

.druga_kolumna {
    align-items: center;
}

.trzecia_kolumna {
    align-items: center;
}

.trzecia_kolumna {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.prostokat_bialy_status {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    max-width: 100%;


}

.prostokat_bialy,
.prostokat_bialy_zielony {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prostokat_bialy_zielony {
    background: #D1D3C4;
}

.naglowek_summary_status,
.calkowita_wartosc {
    color: #351431;
}

/* Ustawienia na mniejsze ekrany */
@media (max-width: 760px) {

    .prostokat_bialy_status{
        /* Zmniejsz szerokość na mniejszych ekranach */
        width: 35rem;
      }

  }