.kalendarze {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.kalendarz{
    display: flex;
    align-items: center;
}


.daty {
    color: #9A9A9A;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 1rem;

}


.wartosc_cala {
    display: flex;
    flex-direction: row;
    color: #351431;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 700;
    padding-right: 1rem;
}

#złotówki {
    padding-left: 0.4rem;
}

#rodzaj_owoca {
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: normal;
    padding-left: 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pierwsza_kolumna {
    width: 40rem;
    align-items: center;
    padding-top: 1rem;
}

.trzecia_kolumna {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    padding: 2rem;
}

.prostokat_bialy_status {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    max-width: 100%;


}

.prostokat_bialy,
.prostokat_bialy_zielony {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prostokat_bialy_zielony {
    background: #D1D3C4;
}

.naglowek_summary_status,
.calkowita_wartosc {
    color: #351431;
}

#selectedDate{
    height: 4rem;
    width: 15rem;
}

.test{
    display: flex;
    flex-wrap: wrap;
}

.trzecie_kolumny{
    display: flex;
    
}

/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 1510px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna{
        width: 30vw;
    }

    .trzecia_kolumna{
        width: 18vw;
    }

    .prawa_strona, .lewa_strona{
        width: 42%;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

  }


  /* Ustawienia na zwykły ekran ekrany */
@media (max-width: 1000px) {
    .pasek_boczny{
        display: none;
    }

   .naglowek_hamburger{
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: space-between;
        align-items:center;
    }

    #hamburgerL {
        display: block; /* Ukryj przycisk domyślnie */
      }
    
    #hamburgerP {
        display: block; /* Ukryj przycisk domyślnie */
        opacity: 0; 
      }

    .hamburger_svg{
        width:4vw;
        padding-top: 0.7rem;
        cursor: pointer;
    }

    #mySidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem; /* Możesz dostosować szerokość paska bocznego do swoich potrzeb */
        height: 100%;
        z-index: 999; /* Ustaw z-index na wartość większą niż reszta strony */
        display: none;
      }

      #mySidebar.active {
        display: block;
      }
      
      #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 998; /* Ustaw z-index na wartość niższą niż pasek boczny, ale wyższą niż reszta strony */
        display: none;
      }
      
      #overlay.active {
        display: block;
      }
    
    #closeSidebar {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        background: transparent; /* Ustawienie przezroczystego tła */
        border: none; /* Usunięcie obramowania */
        padding: 0; /* Usunięcie wewnętrznego odstępu */
        color: #9A9A9A;
      }
}

/* Ustawienia na średni ekran ekrany */
@media (max-width: 1510px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna{
        width: 50vw;
    }

    .trzecia_kolumna{
        width: 25vw;
    }


    .prawa_strona, .lewa_strona{
        width: 42%;
    }

    .kontent{
        display: flex;
        align-items: center;
    }
    
  }

  /* Ustawienia na zwykły ekran ekrany */
@media (max-width: 900px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna{
        width: 90vw;
        height: auto;
    }

    .trzecia_kolumna{
        width: 40vw;
    }

    .prawa_strona, .lewa_strona{
        width: 42%;
    }

    .kontent{
        display: flex;
        align-items: center;
    }


}

@media (max-width: 600px) {
    #selectedDate{
        width: 13rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .daty{
        font-size: 1rem;
        padding: 0.2rem;
    }

    .trzecie_kolumny{
        flex-direction: column;
    }

    .trzecia_kolumna{
        width: 75vw;
        padding: 0rem;
    }
    
    .naglowek_summary_status{
        font-size: 1.5rem;
    }

    .pierwsza_kolumna{
        margin-top: 0rem;
    }

    #wartosc_dnia_jeden_owoc, #calkowita_wartosc, #rodzaj_owoca, #kilogramy, #ALL, #rodzaj_skrzynki, #wartosc_dnia, #waga_skrzynki{
        font-size: 1.3rem;
    }

    
}