.ilosc_skrzynki_cala, #ilosc_skrzynek_summary, .calkowita_wartosc, .waga_skrzynki_cala {
    display: flex;
    flex-direction: row;
    color: #351431;
    text-align: center;
    font-size: 1.5625rem;
    padding-right: 1rem;
}

#kilogramy {
    padding-left: 0.2rem;
}

#rodzaj_skrzynki, #ALL, .calkowita_wartosc {
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: normal;
    padding-left: 1rem;
}

.prostokat_bialy, .prostokat_bialy_zielony {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pierwsza_kolumna {
    width:18rem;
}

input{
    width: 20rem;
}

select{
    width: 22rem;
}


/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna{
        width: 20vw;
    }

    .druga_kolumna{
        width: 30rem;
    }

  }

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30rem;
    }

  }




/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 600px) {

    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna, #buy_fruit{
        width: 85vw;
        height: auto;
    }


    .kontent{
        display: flex;
        align-items: center;
        width: 20vw;
    }


    #naglowek_panel, #naglowek {
        font-size: 2rem;
        color: #351431;
    }

    .prostokat, .prostokat_add_client{
        padding: 0rem;

    }

    #naglowek_modala{
        font-size: 1.5rem;
    }

    .prostokat_zielony{
        height: 3vh;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .prostokat_bialy{
        height: 1vh;
    }

    #rodzaj_skrzynki, .waga_skrzynki_cala, .przycisk_add, .przycisk_remove, #rodzaj_owocu, .cena_owocu_cala{
        font-size: 1.2rem;
    }

    input{
        height: 4vh;
        width: 60vw;
    }
    
    select{
        height: 5.5vh;
        width: 67vw;
    }

    #box_name, #box_weight, #box, #name_of_the_fruit, #name_of_the_fruit,#name_of_the_fruit_new_add, #username, #email, #password{
        font-size: 1rem;
    }

    .pasek_boczny a {
        font-size: 1rem;
    }

}

  