#message, .error-message{
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
}

.no-valid{
    border: 1px solid red;
    border-radius: 2em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
#summary{
    padding-bottom: 1rem;
}

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 600px) {

    .pasek_boczny a {
        font-size: 1rem;
    }

    .prawa_strona, .lewa_strona, .prostokat_zielony {
        padding: 0.5rem;
        box-shadow: none;
    }

}