
.pasek_boczny {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: linear-gradient(209deg, #351431 2.27%, #775253 89.74%);
    padding-top: 1.5rem;
    overflow: auto;
}


.pasek_boczny a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-weight: 500;
    transition: color 0.3s;
}

.logo_z_napisem {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 1.4rem;
    text-align: center;
    padding: 20px;

}

#Frusion {
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    text-transform: capitalize;
    color: #9A9A9A;
}


.menu li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-weight: 500;
    list-style-type: none; /* Usuwamy domyślne kropki listy */
    padding-bottom: 1rem;
    transition: color 0.3s;
}

.menu li button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #9A9A9A;
    font-size: 1.5625rem;
    padding: 10px 15px;
}

.menu li a:active {
    color: #351431; /* Kolor tekstu po kliknięciu */
}

.menu li.active a {
    color: #fff; /* Kolor tekstu dla aktywnego elementu menu */
}


#home::before {
    content: url(/public/css/icon/Home.png);
}

#status_frusion::before {
    content: url(/public/css/icon/status_ikon.png);
}

#fruit_list::before {
    content: url(/public/css/icon/Raspberry.png);
}

#boxes_li::before {
    content: url(/public/css/icon/Open\ Parcel.png);
}

#add_client::before {
    content: url(/public/css/icon/Account.png);
}

#log_out::before {
    content: url(/public/css/icon/Logout.png);
}


@media (max-width: 900px) {
    .pasek_boczny {
        display: none;
    }

    .pasek_boczny a{
        font-size: 1.5rem;
    }

}


@media (max-width: 600px) {
    .pasek_boczny a{
        font-size: 1rem;
    }

}