.cena_owocu_cala {
    display: flex;
    flex-direction: row;
    color: #351431;
    text-align: center;
    font-size: 1.5625rem;
    padding-right: 1rem;
}

#złotówki {
    padding-left: 0.4rem;
}

#rodzaj_owocu {
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: normal;
    padding-left: 1rem;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.prostokat_bialy {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pierwsza_kolumna {
    width: 22rem;
}



/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna{
        width: 20vw;
    }

    .druga_kolumna{
        width: 30rem;
    }

  }

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30rem;
    }

  }

