.ilosc_skrzynki_cala, #ilosc_skrzynek_summary, .calkowita_wartosc, .waga_skrzynki_cala {
    display: flex;
    flex-direction: row;
    color: #351431;
    text-align: center;
    font-size: 1.5625rem;
    padding-right: 1rem;
}

#kilogramy {
    padding-left: 0.2rem;
}

#rodzaj_skrzynki, #ALL, .calkowita_wartosc {
    color: #9A9A9A;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: normal;
    padding-left: 1rem;
}

.prostokat_bialy, .prostokat_bialy_zielony {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pierwsza_kolumna {
    width:18rem;
}


/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna{
        width: 20vw;
    }

    .druga_kolumna{
        width: 30rem;
    }

  }

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 1235px) {
    .kontener{
        width: 100vw;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .pierwsza_kolumna, .druga_kolumna{
        width: 30rem;
    }

  }

  

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 600px) {


}
  