
/* Ustawienia na zwykły ekran ekrany */
@media (min-width: 900px) {
    .kontener{
        width: 100vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .druga_kolumna{
        width: 30rem;
    }

  }

/* Ustawienia na zwykły ekran ekrany */
@media (max-width: 900px) {
    .kontener{
        width: 100vw;
    }

    .druga_kolumna{
        width: 30vw;
    }

    .kontent{
        display: flex;
        align-items: center;
    }

    .druga_kolumna{
        width: 30rem;
    }

    #mySidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem; /* Możesz dostosować szerokość paska bocznego do swoich potrzeb */
        height: 100%;
        z-index: 999; /* Ustaw z-index na wartość większą niż reszta strony */
        display: none;
      }

      #mySidebar.active {
        display: block;
      }
      
      #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 998; /* Ustaw z-index na wartość niższą niż pasek boczny, ale wyższą niż reszta strony */
        display: none;
      }
      
      #overlay.active {
        display: block;
      }

      
  }

  